// Color System
$primary: #AA0601;
$secondary: #650300;
$smokewhite: #FBF2F2;
$black: #000000;
$white: #FFFFFF;
$heavyred: #9F1213;
$gray-1: #DEE2E6;
$gray-2: #707070;
$gray-3: #555555;
$gray-4: #F2F2F2;
$gray-5: #DCDCDC;
$gray-6: #495057;
$gray-7: #CED4DA;

// Font-size 
  $font-xs: 14px;
  $font-s: 16px;
  $font-m: 18px;
  $font-l: 20px;
  $font-xl: 24px;
  $font-2xl: 36px;
  $font-3xl: 48px;
  $font-4xl: 64px;