<nav class="nav">
    <div class="nav__bar d-flex container">
        <h1 class="nav__site__logo">
            <a href="./index.html">Glasses site</a>
        </h1>
        <ul class="nav__menu  d-flex">
            <li class="nav__list"><a href="./optical.html" class="link">系列鏡框</a></li>
            <li class="nav__list"><a href="./branch.html" class="link">門市據點</a></li>
            <li class="nav__list"><a href="./blog.html" class="link">部落格</a></li>
            <li class="nav__list"><a href="./faq.html" class="link">常見問題</a></li>
        </ul>
</nav>