<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Glasses Site</title>
  <!-- Font-Family -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;1,900&display=swap"
    rel="stylesheet">

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
</head>

<body>
  <header>
    <%- include('./layout/header'); -%>
      <div class="banner">
        <div class="banner__content container">
          <h4 class="banner__subtitle">Promise-Desert 2020 早春系列</h4>
          <h2 class="banner__title">看得清，才能看得遠</h2>
          <a href="#" class="banner__btn">立即購買</a>
        </div>
      </div>
  </header>

  <!-- Main -->
  <!-- intro-->
  <main class="main__area">
    <div class="intro__area">
      <h3 class="intro__title container">用專業的心，做專業的事</h3>
      <ul class="intro__feature__list d-flex container">
        <li class="intro__feature__item">
          <span class="material-icons-outlined">paid</span>
          <h5 class="intro__feature__subtitle">單一價格</h5>
          <p class="intro__feature__narrative">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
        </li>
        <li class="intro__feature__item">
          <span class="material-icons-outlined">schedule</span>
          <h5 class="intro__feature__subtitle">20 分鐘即可取件</h5>
          <p class="intro__feature__narrative">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
        </li>
        <li class="intro__feature__item">
          <span class="material-icons-outlined">favorite_border</span>
          <h5 class="intro__feature__subtitle">安心售後服務</h5>
          <p class="intro__feature__narrative">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
        </li>
        <li class="intro__feature__item">
          <span class="material-icons-outlined">voicemail</span>
          <h5 class="intro__feature__subtitle">關於鏡片</h5>
          <p class="intro__feature__narrative">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
        </li>
      </ul>
    </div>

    <!-- classic-series -->
    <div class="classic__series__area">
      <h3 class="classic__series__title container">經典系列鏡框</h3>
      <ul class="classic__series__list d-flex container">
        <li class="classic__series__item">
          <a href="#" class="classic__series__link"></a>
            <img src="../assets/images/home-section3-1.png" alt="series-optical">
            <h3 class="classic__series__type">OPTICAL</h3>
          </a>
        </li>
        <li class="classic__series__item">
          <a href="#" class="classic__series__link">
            <img src="../assets/images/home-section3-2.png" alt="series-sunglasses">
            <h3 class="classic__series__type">SUNGLASSES</h3>
          </a>
        </li>
        <li class="classic__series__item">
          <a href="#" class="classic__series__link"></a>
            <img src="../assets/images/home-section3-3.png" alt="series-functional">
            <h3 class="classic__series__type">FUNCTIONAL</h3>
          </a>
        </li>
      </ul>
    </div>

    <!-- co-branding -->
    <div class="co__branding__area">
      <h3 class="co__branding__title container">聯名設計鏡框</h3>
      <ul class="co__branding__list d-flex container">
        <li class="co__branding__item">
          <a href="#">
            <img src="../assets/images/home-section4-1.png" alt="series-co-branding" class="co-branding__pic co__branding__pic__1">
            <h3 class="co__branding__type">DOUBLE A+</h3>
          </a>
        </li>
        <li class="co__branding__item">
          <a href="#">
            <img src="../assets/images/home-section4-2.png" alt="series-co-branding" class="co-branding__pic co__branding__pic__2">
            <h3 class="co__branding__type">YOUTH</h3>
          </a>
        </li>
      </ul>
    </div>

    <!-- recommendation -->
    <div class="recommendation__area">
      <h3 class="recommendation__title container">顧客推薦</h3>
      <ul class="recommendation__list d-flex container">
        <li class="recommendation__item">
          <a href="#" class="recommendation__link d-flex">
            <div class="client__pic"><img src="../assets/images/home-section5-1.png" alt="client-pic"></div>
            <div class="recommendation__content d-flex">
              <div class="recommendation__main">
                <p class="client__name">Jessy</p>
                <p class="client__review">眼鏡品質優良，下次還會想來這邊購買！</p>
              </div>
              <p class="recommendation__date">2021/06/20</p>
            </div>
          </a>
        </li>
        <li class="recommendation__item">
          <a href="#" class="recommendation__link d-flex">
            <div class="client__pic"><img src="../assets/images/home-section5-2.png" alt="client-pic"></div>
            <div class="recommendation__content d-flex">
              <div class="recommendation__main">
                <p class="client__name">凱倫</p>
                <p class="client__review">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
              </div>
              <p class="recommendation__date">2021/04/18</p>
            </div>
          </a>
        </li>
        <li class="recommendation__item">
          <a href="#" class="recommendation__link d-flex">
            <div class="client__pic"><img src="../assets/images/home-section5-3.png" alt="client-pic"></div>
            <div class="recommendation__content d-flex">
              <div class="recommendation__main">
                <p class="client__name">悠悠</p>
                <p class="client__review">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
              </div>
              <p class="recommendation__date">2020/12/25</p>
            </div>
          </a>
        </li>
        <li class="recommendation__item">
          <a href="#" class="recommendation__link d-flex">
            <div class="client__pic"><img src="../assets/images/home-section5-4.png" alt="client-pic"></div>
            <div class="recommendation__content d-flex">
              <div class="recommendation__main">
                <p class="client__name">Kyuan</p>
                <p class="client__review">服務很好，品質沒有任何問題，非常喜歡。</p>
              </div>
              <p class="recommendation__date">2020/10/31</p>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <!-- contact-us -->
    <div class="contac__us__area">
      <div class="container">
        <div class="contact__form">
          <h3 class="contact__title">聯絡我們</h3>
          <p class="contact__content">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
          <form action="index.html">
            <div class="contact__form__group">
              <div class="form__group__title">
              <label for="client-name">姓名</label>
            </div>
              <input type="text" id="client-name" name="client-name" placeholder="陳小明">
            </div>
            <div class="contact__form__group">
              <div class="form__group__title">
              <label for="client-tel">聯絡電話</label>
            </div>
              <input type="text" id="client-tel" name="client-tel" placeholder="0912-345-678">
            </div>
            <div class="contact__form__group">
              <div class="form__group__title">
              <label for="client-mail">電子郵件</label>
            </div>
              <input type="text" id="client-mail" name="client-mail" placeholder="example@email.com">
            </div>
            <div class="contact__form__group">
              <div class="form__group__title">
              <label for="client-feedback">意見反饋</label>
            </div>
              <textarea name="client-feedback" id="client-feedback" placeholder="請輸入您的意見"
                class="client__feedback"></textarea></label>
            </div>
            <div class="contact__policy__degree">
              <input type="checkbox" id="client-policyDegree" name="client-policyDegree" placeholder="請輸入您的意見"
                class="contact__form__checkbox">
              <label for="client-policyDegree">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
            </div>
            <div class="contact__submit__button">
              <input type="submit" name="submit" value="確認送出">
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <%- include('./layout/footer'); -%>
</body>
</html>